@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Tillana:wght@700&display=swap');
p{
  padding: 0;
  margin: 0
}
a{
  padding: 0 !important;
  margin: 0 !important;
}
/* navbar */
.navbar-block {
  padding: 16px 0;
}
.nav-link-text{
  color: #4D4D4D;
  font-weight: 400;
}
.nav-link-text:hover{
color: #F05C2B;
}
.navbar-block-inner{
  display: flex;
  justify-content: space-between;
}
.nav-item{
  padding: 0 16px;
}
/* jumbotron block */
.jumbotron{
  background-color: #FEFAF0;
}
.jumbotron-body {
  padding: 32px 0 220px 0;
  display: flex;
  align-items: center;
}
.jumbotron-title-technology {
  font-size: 54px;
  font-weight: 600;
  color: #481c0d;
  line-height: 1.3;
}
.jumbotron-title-open-world{
  font-size: 54px;
  font-weight: 600;
  color: #481c0d;
  line-height: 1.3;
  font-weight: 700;
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #FF473E, #FFC727);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.jumbotron-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: 
  #4d4d4d;
  padding: 28px 0;
  line-height: 1;
  margin-top: 16px;
}
.jumbotron-image-desktop {
  display: flex;
  justify-content: end;
}
.jumbotron-image-mobile{
  display: none;
}
.btn-contact-us, .btn-contact-us:hover{
  color: #fff;
  background-color: #ff473e;
  font-weight: 600;
  height: 48px;
}
/* our customers */
.our-customers{
  padding: 64px 0;
}
.our-customers-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #481c0d;
}
.our-customer-logo {
  /* background-color: #DD1D94; */
  -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
}
.our-customer-logo:hover{
  -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
}
/* swiper */
.swiper{
  margin-top: 48px;
}
.swiper-slide{
  display: flex;
  justify-content: center;
}
/* our offerings block  */
.our-offerings-block {
  padding: 64px 0;
  background-color: #fefaf0;
  color: #481c0d;
}
.our-offerings-block-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #481c0d;
}
.our-offerings-block-subtitle-outer{
  display: flex;
  justify-content: center;
}
.our-offerings-block-subtitle{
  color: #4d4d4d;
  font-weight: 400;
  padding: 4px 0;
  width: 50%;
  text-align: center;
}
.our-offerings-block-inner-subtitle-fast{
  color: #f05c2b;
}
.our-offerings-outer-block{
padding: 100px 0 50px 0;
}
.our-offerings-block-inner {
  display: flex;
  align-items: center;
}
.our-offerings-block-inner-title{
  color: #481c0d;
  border-bottom: 4px solid #f05c2b;
  width: 122px;
  font-size: 20px;
font-weight: 600;
}
.our-offerings-block-inner-subtitle{
  color: #4d4d4d;
  padding: 16px 0 28px 0;
}
/* plugins block */
.plugins-block{
  padding: 64px 0;
}
.plugins-block-title-outer{
  display: flex;
  justify-content: center;
}
.plugins-block-contact-us{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.plugins-block-title{
  color: #481c0d;
  width: 60%;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.plugins-block-logos{
  margin-top: 100px;
}
.plugins-block-logo{
  padding: 24px;
}
/* why esamudaay block */
.why-esamudaay-block-title-block {
  background: linear-gradient(179deg, #ff473e 5%, #ffb636 95%);
  padding: 64px 0 144px 0;
}
.why-esamudaay-block-title{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.why-esamudaay-block-cards-outer{
  position: relative;
}
.why-esamudaay-block-cards{
  margin-top: -120px;
}
.why-esamudaay-block-card {
  padding: 32px;
  min-height: 390px;
  box-shadow: 1px 1px 4px 2px rgba(255, 199, 39, 0.24);
  border-radius: 16px;
  border: none;
}
.why-esamudaay-block-card-icon-block {
  display: flex;
  justify-content: center;
}
.why-esamudaay-block-card-title {
  font-size: 24px;
  font-weight: 600;
  color: #B0350D;
  padding: 24px 0 20px 0;
}
.why-esamudaay-block-card-content-list li {
padding: 6px 0;
}
/* footer */
.footer-contact-button {
  background-color: #5F3A9F;
  color: #fff;
}
.footer-contact-button:hover {
  background-color: #5F3A9F;
  color: #fff;
}
.footer-contact-social-youtube, .footer-contact-social-linkedin {
  background-color: #FDEFEA;
  border-radius: 50px;
  margin: 8px
}
.footer-text{
  text-align: center;
  color: #333333;
}
.footer-block-lower-text {
  font-weight: 500;
  font-size: 16px;
}
.social-icon{
  border: 1px solid #DD1D94;
  border-radius: 50px;
  height: 48px;
  width: 48px;
  justify-content: center;
}
.social-media{
  margin: 8px;
  cursor: pointer;
}

/* testimonial */
.testimonial{
  padding: 100px 0;
}
.testimonial-body{
  display: flex;
  align-items: center;
}
.testimonial-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.33;
  color: #481c0d;
  margin-top: 32px;
  
}
.testimonial-card{
  padding: 40px;
}
.testimonial-card-header{
  display: flex;
  align-items: center;
}
.testimonial-card-header-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid #FFDA99;
  margin-right: 16px;
}
.testimonial-card-header-content-block-name{
  font-size: 16px;
  color: #FF473E;
  font-weight: 500;
}
.testimonial-card-header-content-block-designation{
font-size: 12px;
color: #808080;
}
.testimonial-card-content-block-text{
  margin-top: 24px;
  font-size: 14px;
  font-family: "Manrope"
}
.testimonial-card-body {
  background-image: url("../images/testimonial-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 148px 48px;
}

/* miscellanious */
.why-esamudaay-block-card:hover{
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  box-shadow: 4px 16px 20px 2px rgba(250, 193, 87, 0.15);
}
.btn-contact-mobile{
  display: none;
}
.fast{
  font-family: "Tillana";
  color: #F05C2B;
}
/* mobile view */
@media (max-width: 576px){
  .nav-item{
    padding: 8px;
  }
  .jumbotron-body{
    display: flex;
    flex-direction: column-reverse;
  }
  .jumbotron-image-desktop{
    display: none
  }
  .jumbotron-image-mobile{
    display: flex;
    justify-content: center;
  }
  .jumbotron-title-technology,.jumbotron-title-open-world, .jumbotron-subtitle,.why-esamudaay-block-title, .our-offerings-block-title, .our-offerings-block-subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .jumbotron-title-technology,.jumbotron-title-open-world{
    font-size: 44px;
  }
  .our-offerings-block-title, .plugins-block-title,.why-esamudaay-block-title, .testimonial-title{
    font-size: 30px;
  }
  .jumbotron-contact-button,.navbar-image {
    width: 100%;
  }
  .jumbotron-content{
    padding: 54px 0 54px 0;
  }
  .our-offerings-block-inner-title-outer {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
  .our-offerings-block-inner-title,.our-offerings-block-inner-subtitle {
    text-align: center;
  }
  .our-offerings-block-inner-logistics,.our-offerings-block-inner-buyer {
    flex-direction: column-reverse;
  }
  .our-offerings-block-subtitle{
    width: 100%;
  }
  .our-offerings-block-card, .why-esamudaay-block-card{
    text-align: center;
  }
  .our-offerings-block-card-title-outer, .why-esamudaay-block-card-icon{
    display: flex;
    justify-content: center;
  }
  .btn-contact-desktop,.testimonial-left-quote img {
    display: none;
  }
  .testimonial-title{
    text-align: center;
    margin-bottom: 54px;
  }
  .plugins-block-title,.btn-contact-us {
    width: 100%;
  }
  .btn-contact-mobile{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 24px 10px 24px;
    z-index: 999;
  }
  .testimonial-card-body{
    padding: 64px 28px;
  }
}
